[Unit]
Description=Boot-time memory profile validator
After=local-fs.target u-boot-fw-utils.service
Before=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c '. /usr/lib/mem-profile/mem-profile && start'

[Install]
WantedBy=multi-user.target